{{ partial "header.html" . }}
<div class="tpl" id="taxonomy"></div>

<div>
  {{ $baseurl := .Site.BaseURL | sanitizeurl }}
  <div>
    <h1>{{ .Title }}</h1>
  </div>

  <article>
    <div>
      <!-- prettier-ignore -->
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms }}
      <span>
        <a href="{{ $baseurl }}/{{ $data.Plural }}/{{ $key | urlize }}">
          {{ $key }}
          <span>({{ len $value }})</span>
        </a>
      </span>
      {{ end }}
    </div>
  </article>
</div>

{{ partial "footer.html" . }}
